﻿@model IEnumerable<Statistics.Models.getStatistics>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.number_of_cliams)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount_claimed_sum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount_approved_sum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paid_amount_sum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_in_patient_days_sum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avg_in_patient_days_sum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.get_average_length_process)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.average_percentage_approved_amounts)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.number_of_cliams)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount_claimed_sum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount_approved_sum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paid_amount_sum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_in_patient_days_sum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avg_in_patient_days_sum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.get_average_length_process)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.average_percentage_approved_amounts)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
